
<header class="header-container">
    <div class="header container">
        <div class="logo">
            <h2>
                <a href="{% url 'quizmania:home' %}" class="logo">
                    <span class="logo-text">QuizMania</span>
                    <i class="fa-solid fa-trophy"></i>
                </a>
            </h2>
            <form action="{% url 'authors:logout'%}" method="POST">
                {% csrf_token %}
                <button type="submit">Sair</button>
            </form>
        </div>
    </div>
</header>