
<div class="question-container detail-quiz {{question.difficulty}}" style="background-image: url({{question_img}});">
    <div class="question ">
        
        <h2 class="question-title">{{ question.question  }}</h2>
        <div class="answer-container">
            {% for answer in answers %}
                <form action="{% url 'quizmania:is_correct' answer.pk %}" method="POST" class="answer">
                    {% csrf_token %}
                    <button type="submit" >
                        {{answer.answer}}
                    </button>
                </form>
            {% endfor %}
        </div>
    </div>
</div>