:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #3c4593;
    --color-primary-dark-header:#0c135f;
    --color-is-past-deadline-dark:#331414;
    --color-is-past-deadline:#3a1515;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --color-white: #dfdfdf;
    --color-black: #000;
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #b39c53;
    --color-error-dark: #da525d;
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
    --search-focus-color:#E8F0FE;
    --font-primary: sans-serif;
    --font-headings: sans-serif;
    --spacing-gutter-small: 2rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    color: var(--color-white);
    
    
}
.border{
    border-radius: 1rem;
}
body{
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-primary-dark);
    overflow-x: hidden;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-headings);
}
.container{
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}
/* header */
.header-container{
    background: var(--color-primary-dark-header);
}
.header{
    display: flex;
    align-items: center;
    color: var(--color-white);
}
.header .logo{
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
    font-size: 2.4rem;
    margin: 0 auto;
}
/*main*/
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}
.main .want-play{
    margin-top: 1rem;
    text-align: center;
    color: var(--color-white);
    font-size: 2.4rem;
}

 /* Messages */
.messages-container {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--spacing-gutter-medium) / 2);
    width: fit-content;
    position: fixed;
    top: 80px;
    right: 0;
  }
.message {
    padding: 0;
    padding-left: 1.5rem;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
}
.message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}
.message-warning {
    border: 1px solid var(--color-warning-dark);
    background: var(--color-warning-light);
    color: var(--color-warning-dark);
}
.message-alert {
    border: 1px solid var(--color-alert-dark);
    background: var(--color-alert-light);
    color: var(--color-alert-dark);
}
.message-info {
    border: 1px solid var(--color-info-dark);
    background: var(--color-info-light);
    color: var(--color-info-dark);
}
.message-debug {
    border: 1px solid var(--color-debug-dark);
    background: var(--color-debug-light);
    color: var(--color-debug-dark);
}
/* footer */
.footer-container{
    background: var(--color-primary-dark-header);
    width: 100%;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.social-links .social-icon{
    color: var(--color-gray-3);
    text-decoration: none;
    transition: all .3s ease;
    font-size: 1.8rem;
}
.social-icon:hover{
    transform: scale(1.1);
}
/* quiz */
.quizes-container {
    position: relative;
    margin-bottom: 5rem;
}



.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    color: transparent;
    
}

.slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slick-prev {
    left: -2%; 
}
.slick-prev::before {
    content: "◄"; 
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
}

.slick-next {
    right: -2%;
}
.slick-next::before {
    content:"►";
    color:white;
    position: absolute;
    top: 27%;
    left: 30%;
    
}
.slide-list{
    overflow-y: visible !important;
}
.slick-slide {
    background-color: rgb(3,3,200);

    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 0 1rem;
    border-radius: 15px;
    opacity: 0.5;
    transition: all ease-in-out .3s;
    

}
.slick-slide.slick-current {
    opacity: 1;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slick-slide.slick-current:hover {
    transform: scale(1.02);
}

.single-img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.quiz-title {
    font-size: 1.6rem;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 1rem;
}

.quiz-content p {
    color: var(--color-white);
    margin-bottom: 1rem;
    font-weight: bold;
    word-wrap: break-word;
    font-size: 1.4rem;
}

.quiz-description {
    overflow: hidden;
}



@media  screen and (max-width:1000px) {
    .header .logo{
        font-size: 1.8rem;
    }
    .main .want-play{
        font-size: 1.8rem;
    }
    footer .creator{
        font-size: 1.1rem;
    }
    .social-links .social-icon{
        font-size: 1.3rem;
    }
    .footer{
        gap: .5rem;
    }
    .quiz-content p{
        font-size: 1.1rem;
    }
    .quiz-title{
        font-size: 1.3rem;
    }
    .slick-slide {
        margin: 0 .5rem;
        padding: 1rem;
    
    }
    /* .quizes{
        pointer-events: none;
    } */
}
@media  screen and (max-width:549px) {
    .footer-container{
        position: relative;
    }
    .quiz-content p{
        font-size: 1.6rem;
    }
    .quiz-title{
        font-size: 2rem;
    }
    .slick-slide{
        padding: 2rem;
        margin: 1rem;
    }
}